#isb{
    background-color: rgba(5, 4, 2, 0.668);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
}
#isb h1{
    text-decoration: underline;
    margin-bottom: 40px;
    color: whitesmoke;
}

#isb h2{
    text-decoration: underline;
}

#isb h3{
    color: white;
}

#mediaisb{
    background-color: rgb(99, 90, 108);
    border-radius: 30px;
}

#mediaisb p{
    color: whitesmoke;
}

#mediaisb img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}