#peshawer{
    background-color: rgb(40, 48, 65);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 30px;
}
#peshawer h1{
    text-decoration: underline;
    margin-bottom: 40px;
    color: whitesmoke;
}

#peshawer h2{
    text-decoration: underline;
    color: whitesmoke;
}

#peshawer p{
    color: whitesmoke;
}

#mediapeshawer{
    background-color: rgba(58, 59, 46, 0.655);
}

#mediapeshawer p{
    color: whitesmoke;
}

#mediapeshawer img{
    display: block;
    margin: 0 auto;
    border-radius: 20px;
}